body {
  color: #0f0035;
  padding-bottom: 2rem;
}

.Bits {
  display: flex;
  font-size: 12px;
  font-family: menlo;
}

.Sign {
  background-color: #D2D3E7;
}

.Exponent {
  background-color: #C0DDC2;
}

.Mantissa {
  background-color: #DDD0C5;
}

.Bits > div {
  padding-right: 4px;
}

.Bits .bit {
  display: inline-block;
  padding: 1px;
}